<%- include("partials/header") -%>
<h1><%=hotelName%></h1>
<p><%=content[0].body%></p>
<% for(var i=1;i<content.length;i++){ %>

  <!-- </content.length;i++){> -->
  <h3> <%=content[i].title%></h3>
  <p>   <%=content[i].body %></p>
<% } %>
<%- include("partials/footer") -%>
